body{
    max-width: 100vw;
    max-height: 100vh;
    text-align: left;
    font-family: Helvetica, sans-serif;
}

h1, h2{
    font-size: 32pt;
}

h3{
    padding: 5px;
}

form{
    
}

span{
    background: #5433FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input, button{
    font-size: 14pt;
    border: none;
    width: 100%;
}

input{
    border-bottom: black 1px solid;
    padding: 5px 0;
    margin: 10px 0;
}

button{
    /* outline: black 1px solid;  */
    border-radius: 3px;
    color: white;
    background-color: blue;
    padding: 15px;
}

.entire{
    width: 25vw;
    margin: 0 37.5vw;
    background-color: white;
}

@media only screen and (max-width: 1000px) {
    .entire{
        width: 90vw;
        margin: 3vw;
    }
}